.content {
  padding: 0 4rem 1.6rem;
  flex: 1;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 992px) {
    padding: 0 2.4rem 1.6rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    margin: 1.2rem 0;
  }
}

.header {
  padding: 1.6rem 0;

  display: flex;
  align-items: center;
  gap: 1rem;

  &__text {
    margin-right: auto;
    &--title {
      font-weight: var(--fw-regular);
      font-size: 2.2rem;
    }

    &--time {
      font-weight: var(--fw-regular);
      font-size: 1.4rem;
    }
  }

  &__icon {
    border: none;
    background-color: transparent;
    outline: none;
    width: 4rem;
    height: 4rem;
    border-radius: var(--radius-full);
    --state-layer-bg: var(--on-surface-variant);

    display: grid;
    place-items: center;

    transition: transform var(--tr-duration-medium) var(--tr-easing-emphasized);
  }
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--spacing-2);

  align-content: flex-start;

  position: relative;
  flex-grow: 1;
}

.card {
  padding: 1.6rem;
  border: 1px solid var(--outline-variant);
  border-radius: var(--radius-large);
  background-color: var(--surface);
  --state-layer-bg: var(--on-surface);
  transition: border-color var(--tr-duration-short) var(--tr-easing-linear);

  &__title {
    font-size: 1.6rem;
    color: var(--on-surface);
    font-weight: var(--fw-medium);
  }

  &__text {
    margin: 1.6rem 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    border-radius: var(--radius-full);
    --state-layer-bg: var(--on-surface-variant);

    display: grid;
    place-items: center;
  }
}

.empty-notes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-surface-variant);
  -webkit-user-select: none;
  user-select: none;
}

.empty-notes .material-symbols-rounded {
  font-size: 6.8rem;
  opacity: 0.25;
  margin-block-end: var(--spacing-4);
  margin-inline: auto;
}
